@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cadastro {
    background-color: #DA251C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 75vh;
    width: 75vw;
    background: linear-gradient(to right, #8A8A8A, 40%, #F0F0F0);
    overflow: hidden;
    padding: 4vw;
    border-radius: 0.5rem;
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.imagem {
    height: 25vw;
    width: 20%;
    display: flex;
}

.forms {
    margin-left: 11rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 50%;
    margin-right:18rem;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.campos {
    display: flex;
}

.icone {
    margin-top: 0.5rem;
}

.inputs {
    display: block;
    background: transparent;
    width: 23rem;
    line-height: 0.5rem;
    border: none;
    border-bottom: 2px solid #505050;
    outline: none;
    padding: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.curso {
    color: #505050;
    font-size: 1rem;
    padding: 0.5rem;
}

.inputlabel {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.input {
    accent-color: black;
}

.logintext {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
}

.login {
    color: #DA251C;
}

.button {
    background-color: #F24A4A;
    color: white;
    width: 8rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.8rem 2rem;
    padding-right: 9rem;
    margin-left: 2rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titulo{
    display: flex;
    padding: 2rem;
    font-size: 2.3rem;
    width: 28vw;
    color: #353535;
    margin-top: -7rem;
}

.listaEmpresas {
    margin-bottom: 20rem;
    margin-right: 50rem;
    display: flex;
}

.empresas {
    list-style-type: none;
    padding: 0;
}

.empresaItem {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.acoes {
    display: flex;
    gap: 1rem;
}

.iconeAcao {
    cursor: pointer;
    color: #DA251C;
}
.form{
    display: flex;
}
@media only screen and (max-width: 1400px){
    .form{
        display: flex;
        flex-direction: column;
       margin-left: 0;
       margin-right: 0;
        text-align: center;
        align-items: center;
    }
    .titulo{
        margin-top: 0;
    }
    .inputs{
        width: 18rem;
    }
    .card{
        padding: 0;
        padding-top: 10rem;
        align-items: center;
        text-align: center;
        height: auto;
        margin-left: 0;
    }
    .forms{
        margin-left: 0rem;
        margin-right: 0rem;
        text-align: center;
        align-items: center;

    }
    .listaEmpresas{
        margin-right: 0;
        align-items: center;
        text-align: center;
        display: flex;
        margin-left: -5rem;
    }
}
