.card {
    background-color: #D9D9D9;
    display: flex;
    border-radius: 0.5rem;
    width: 95%;
    height: 23%;
    align-items: center;
    margin-top: 2rem;
    padding-right: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.imagem {
    width: 12rem;
    height: 12rem;
    margin: 0.5rem;
}

.texto{
    text-align: center;
}