.container {
    display: flex;
    padding: 3rem;
}

.h3 {
    padding: 1rem;
    margin-top: 0.5rem;
}

.forms {
    flex: 1;
    padding: 1srem;
    align-items: center;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #F9F6F6;
    margin-right: 10rem;
}

.form {
    display: flex;
    justify-content: space-between;
}

.label {
    display: block;
    justify-content: center;
}

.textarea{
    width: 100%;
    height: 10rem;
    padding: 2rem;
    margin-bottom: 2px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.vagacontainer {
    flex: 1;
    padding: 1rem;
    border: none;
    background-color: #F9F6F6;
    border-radius: 8px;
    text-align: center;
    margin-left: -7rem;
}

.vagaitem {
    margin-left: 2rem;
}

.vaga {
    padding-left: -15rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    background-color: #F24A4A;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inputarea {
    padding: 0.5rem;
} 

.input2 {
    width: 100%;
    padding: 0.6rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.input3 {
    width: 100%;
    padding: 0.6rem;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.empresas {
    color: #DA251C;
    text-align: right;
    font-size: 0.8rem;
    margin-right: 1rem;
}