.container {
  margin-left: 10rem;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.2rem;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #DA251C;
  padding-top: 5.2rem;
  margin-left: 16.5rem;
  font-weight: 400;
}

.image {
  width: 40rem;
  height: 25rem;
  margin-left: 4rem;
  border-radius: 1.2rem;
}

.subtitulo {
  font-size: 2rem;
  color: #DA251C;
  padding-top: 1.5rem;
  margin-left: 4rem;
  font-weight: 400;
}

.texto {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 41.2%;
  margin-left: 3.8rem;
  text-align: justify;
}