.cadastro {
    background-color: #DA251C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: 85vw;
    background: linear-gradient(to right, #8A8A8A, 38%, #F0F0F0);
    border-radius: 0.5rem;
    padding: 8rem;
}

.leftForms {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.rightForms {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 6rem;
    left: 7rem;
    color: #fff;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 40%;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    font-weight: bold;
    padding: 1rem;
}

.text {
    font-size: 0.5rem;
}

.campos {
    display: flex;
    margin: 0.5rem;
}

.datePicker {
    margin: 1rem;
    width: 20rem;
    margin-left: -0.02rem;
}

.icone {
    margin-top: 0.5rem;
}

.inputs {
    background-color: transparent;
    border: none;
    border-bottom: 1px #000 solid;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 15px;
}

.curso {
    color: #505050;
    padding-bottom: 0.3rem;
    display: flex;
}

.inputlabel {
    display: flex;
    font-size: 1rem;
    padding: 0.6rem;
}

.input {
    accent-color: black;
    margin-right: 1rem;
}

.login {
    color: #DA251C;
}

.buttonRegister {
    margin-left: 5rem;
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
    background-color: #F24A4A;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.buttonRegister:hover {
    cursor: pointer;
}

.tipo{
    background: linear-gradient(to right, #8A8A8A, 1%, #F0F0F0);
    border: none;
    border-radius: 0.3rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 15px;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.direito {
    margin-left: 5rem;
    margin-right: 40rem;
    margin-top: 1.5rem;
}