@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.cadastro {
    background-color: #DA251C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 90%;
    background: linear-gradient(to right, #8A8A8A, 38%, #F0F0F0);
    border-radius: 0.5rem;
    padding: 8rem;
}

.leftForms {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.rightForms {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 40%;
    height: 100%;
    gap: 0.8rem;
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 10rem;
    left: 12rem;
    color: #fff;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 40%;
    margin-right: 5rem;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.campos {
    display: flex;
    margin: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.datePicker {
    margin: 1rem;
    width: 20rem;
    font-size: 1.2rem;
    margin-left: -0.02rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.icone {
    margin-top: 0.5rem;
}

.inputs {
    background-color: transparent;
    border: none;
    border-bottom: 1px #000 solid;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.curso {
    color: #000;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.inputlabel {
    display: flex;
    font-size: 1.2rem;
    padding: 0.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.input {
    accent-color: black;
    margin-right: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;

}

.login {
    color: #DA251C;
}

.buttonRegister {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 2rem;
    background-color: #F24A4A;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.buttonRegister:hover {
    cursor: pointer;
}

.tipo{
    background: linear-gradient(to right, #8A8A8A, 1%, #F0F0F0);
    border: none;
    border-radius: 0.3rem;
    width: 20rem;
    height: 2.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.direito {
    margin-left: 5rem;
    margin-right: 40rem;
    margin-top: 1.5rem;
}