.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec1c2c;
    height: 40rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 30rem;
    width: 65rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #F0F0F0 67%, #8A8A8A);
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 3.5rem;
    left: 2.8rem;
}

.left {
    display: flex;
    flex-direction: column;
    width: '50%';
    height: auto;
    padding: 3rem;
    gap: 0.5rem;
}

.rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: '50%';
    height: auto;
}

.img {
    width: 30rem;
    margin-right: 2.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #000 solid;
    width: 20rem;
    height: 1.5rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
}

.inputWithIcon {
    position: relative;
}

.title {
    color: #000;
}

.icon {
    position: absolute;
    top: 3px;
    color: #000;
}

.actionArea {
    margin-top: 2rem;
}

.txt {
    color: #000;
    font-size: 15px;
}

.register {
    color: #ec1c2c;
}

.register:hover {
    cursor: pointer;
}

.buttonRegister {
    margin-top: 1rem;
    width: 10rem;
    height: 2rem;
    background-color: #F24A4A;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.buttonRegister:hover {
    cursor: pointer;
}