.cadastro {
    background-color: #DA251C;
    height: 100vh;
    display: flex;
}

.card {
    margin-left: 10vw;
    margin-top: 7vw;
    flex-direction: column;
    height: 70vh;
    width: 80vw;
    background-color: #F0F0F0;
    gap: 20px;
    padding: 40px;
    border-radius: 15px;
    display: flex;
}

.imagem {
    flex: 1;
    display: flex;
}

.forms {
    flex: 2;
    margin-left: 40vw;
    margin-top: -20vw;
}

.title {
    display: flex;
    font-size: 2rem;
}

.text {
    font-size: 1.3rem;
    padding: 0.5rem;
}

.inputs {
    display: block;
    padding: 10px;
}

.curso {
    color: #505050;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.inputlabel {
    display: flex;
    font-size: 1rem;
    padding: 0.7rem;
}