.cadastro {
    background-color: #DA251C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 75vh;
    width: 85vw;
    background: linear-gradient(to right, #8A8A8A, 40%, #F0F0F0);
    overflow: hidden;
    padding: 4vw;
    border-radius: 0.5rem;
}

.arrow {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.imagem {
    height: 20vw;
    width: 50%;
}

.forms {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 50%;
}

.title {
    display: flex;
    font-weight: bold;
}

.text {
    font-size: 1rem;
}

.campos {
    display: flex;
}

.icone {
    margin-top: 0.5rem;
}

.inputs {
    display: block;
    background: transparent;
    width: 50%;
    line-height: 0.5rem;
    border: none;
    border-bottom: 2px solid #505050;
    outline: none;
    padding: 0.6rem;
}

.curso {
    color: #505050;
    font-size: 1rem;
    padding: 0.5rem;
}

.inputlabel {
    display: flex;
    font-size:  0.9rem;
    padding: 0.7rem;
}

.input {
    accent-color: black;
}

.logintext {
    font-size: 0.9rem;
    padding: 1rem;
}

.login {
    color: #DA251C;
}

.buttonRegister {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 8rem;
    height: 3rem;
    background-color: #F24A4A;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.buttonRegister:hover {
    cursor: pointer;
}